<!-- 262 -->
{{ define "262" }}
    <tr>
        <td bgcolor="#ffffff"
            style="padding: 50px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 24px; color: #000000">
            Здравствуйте, Константин!
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff"
            style="padding: 10px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 24px; color: #000000">
            Вы оформили заказ
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff"
            style="padding: 10px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 28px; color: #000000">
            в интернет магазине O&rsquo;STIN!
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff"
            style="padding: 30px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 25px; color: #000000">
            Для вашего удобства автоматически был создан
            <a href="#" style="color: #000000; text-decoration: none"><b>личный кабинет</b></a>.
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff"
            style="padding: 20px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 25px; color: #000000">
            Теперь вы&nbsp;можете отслеживать статус заказа, узнавать об&nbsp;акциях, скидках и&nbsp;новинках в&nbsp;числе
            первых!
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff"
            style="padding: 30px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 25px; color: #000000">
            <table align="center" cellspacing="0" cellpadding="0" border="0" width="100%"
                   style="border: 1px solid #e6e6e6; width: 100%">
                <tr>
                    <td align="center" style="padding: 5px 0 ">
                        <table align="center" cellspacing="0" cellpadding="0" border="0" width="100%"
                               style="border: none; width: 100%">
                            <tr>
                                <td align="center" style="border-right: 1px solid #e6e6e6; width: 50%; padding: 0 40px">
                                    <div>
                                        <div style="display: inline-block"><b>Логин:</b></div>
                                        <div style="display: inline-block">login</div>
                                    </div>
                                </td>
                                <td align="center" style="width: 50%; padding: 0 28px">
                                    <div>
                                        <div style="display: inline-block"><b>Пароль:</b></div>
                                        <div style="display: inline-block">12345</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff"
            style="padding: 30px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 25px; color: #000000">
            Для завершения регистрации, пожалуйста, подтвердите email.
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff"
            style="padding: 40px 20px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px;">
            <table align="left" cellspacing="0" cellpadding="0" border="0" width="280"
                   style="border: none; width: 280px">
                <tr>
                    <td bgcolor="#e32526" align="center"
                        style="padding: 0 15px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; height: 50px">
                        <a href="#" style="color: #ffffff; text-decoration: none"> <b>ПОДТВЕРДИТЬ EMAIL</b> </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff"
            style="padding: 50px 20px; border-top: 1px solid #ebebeb; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 20px;">
            Все зарегестрированные пользователи автоматически становятся участниками <a href="#"
                                                                                        style="color: #000000; text-decoration: none">Клубной&nbsp;программы</a>
        </td>
    </tr>
{{ end }}
