<!-- 264 -->
{{ define "264" }}
    <tr>
        <td bgcolor="#ffffff"
            style="padding: 50px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 22px; line-height: 24px; color: #000000">
            Здравствуйте, Константин!
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff"
            style="padding: 25px 20px 40px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: #000000">
            <div style="width: 100%; max-width: 370px">
                Для востановления доступа к личному кабинету в интернет магазине ostin.com, пожалуйста, перейдите по
                <a href="#" style="color: #e32526; text-decoration: none">ссылке</a>.
            </div>
        </td>
    </tr>
{{ end }}
