<!-- 266 -->
{{ define "266" }}
    <tr>
        <td bgcolor="#ffffff"
            style="padding: 50px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 22px; line-height: 26px; color: #000000">
            Здравствуйте, Константин!
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff"
            style="padding: 0 20px ; font-family: Arial, Helvetica, sans-serif; font-size: 22px; line-height: 26px; color: #000000">
            Вы оставили email на сайте ostin.com.
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff"
            style="padding: 25px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: #000000">
            <div style="width: 100%; max-width: 450px">
                Пожалуйста, подтвердите подписку, если хотите узнавать об&nbsp;акциях, скидках и&nbsp;новинках в&nbsp;числе
                первых.
            </div>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff"
            style="padding: 40px 20px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px;">
            <table align="left" cellspacing="0" cellpadding="0" border="0" width="280" style="border: none">
                <tr>
                    <td bgcolor="#e32526" align="center"
                        style="padding: 0 15px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; height: 50px">
                        <a href="#" style="color: #ffffff; text-decoration: none"> <b>ПОДТВЕРДИТЬ EMAIL</b> </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{{end}}
