<!-- 274 -->
{{ define "274" }}
    <tr>
        <td bgcolor="#ffffff"
            style="padding: 50px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 24px; color: #000000">
            Спасибо!
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff"
            style="padding: 10px 20px 50px; font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 28px; color: #000000">
            Ваш заказ подтвержден.
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff"
            style="padding: 50px 20px 0; border-top: 1px solid #ebebeb; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 24px;">
            Заказ № 0111111
        </td>
    </tr>
    <!-- item заказа -->
    <tr>
        <td bgcolor="#ffffff" style="padding: 30px 20px 0; color: #000000;">
            <table align="center" cellspacing="0" cellpadding="0" border="0" width="100%"
                   style="border: none; width: 100%">
                <tr>
                    <td align="left" style="padding-bottom: 30px; border-bottom: 1px solid #ebebeb;">
                        <table align="center" cellspacing="0" cellpadding="0" border="0" width="100%"
                               style="border: none; width: 100%">
                            <tr>
                                <td align="left" valign="top">
                                    <img src="images/order/order1.jpg" width="120" height="180" alt="order"
                                         style="width: 120px; height: 180px;">
                                </td>
                                <td align="left" valign="top" style="padding-left: 25px">
                                    <table align="left" cellspacing="0" cellpadding="0" border="0" width="100%"
                                           style="border: none; width: 100%">
                                        <tr>
                                            <td
                                                    style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 22px;">
                                                Платье с цветочным принтом длинное название
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                    style="padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                LT1R31-66
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top: 20px">
                                                <table align="left" cellspacing="0" cellpadding="0" border="0"
                                                       width="100%"
                                                       style="border: none; width: 100%">
                                                    <tr>
                                                        <td width="54px"
                                                            style="width: 54px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                            Кол-во:
                                                        </td>
                                                        <td
                                                                style="padding-left: 15px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                            1
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="54px"
                                                            style="width: 54px; padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                            Размер:
                                                        </td>
                                                        <td
                                                                style="padding-left: 15px; padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                            М
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="54px"
                                                            style="width: 54px; padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                            Цвет:
                                                        </td>
                                                        <td
                                                                style="padding-left: 15px; padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                            Светло-синий
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="54px"
                                                            style="width: 54px; padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                            Цена:
                                                        </td>
                                                        <td
                                                                style="padding-left: 15px; padding-top: 10px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                            <span style="padding-right: 10px">1300&nbsp;Р</span>
                                                            <span style="color: #999999"><s>1300&nbsp;Р</s></span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- item заказа -->
    <tr>
        <td bgcolor="#ffffff" style="padding: 30px 20px 0; color: #000000;">
            <table align="center" cellspacing="0" cellpadding="0" border="0" width="100%"
                   style="border: none; width: 100%">
                <tr>
                    <td bgcolor="#ffffff" align="left" style="padding-bottom: 30px;">
                        <table align="center" cellspacing="0" cellpadding="0" border="0" width="100%"
                               style="border: none; width: 100%">
                            <tr>
                                <td align="left" valign="top">
                                    <img src="images/order/order1.jpg" width="120" height="180" alt="order"
                                         style="width: 120px; height: 180px;">
                                </td>
                                <td align="left" valign="top" style="padding-left: 25px">
                                    <table align="left" cellspacing="0" cellpadding="0" border="0" width="100%"
                                           style="border: none; width: 100%">
                                        <tr>
                                            <td
                                                    style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 22px;">
                                                Платье с цветочным принтом длинное название
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                    style="padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                LT1R31-66
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top: 20px">
                                                <table align="left" cellspacing="0" cellpadding="0" border="0"
                                                       width="100%"
                                                       style="border: none; width: 100%">
                                                    <tr>
                                                        <td width="54px"
                                                            style="width: 54px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                            Кол-во:
                                                        </td>
                                                        <td
                                                                style="padding-left: 15px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                            1
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="54px"
                                                            style="width: 54px; padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                            Размер:
                                                        </td>
                                                        <td
                                                                style="padding-left: 15px; padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                            М
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="54px"
                                                            style="width: 54px; padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                            Цвет:
                                                        </td>
                                                        <td
                                                                style="padding-left: 15px; padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                            Светло-синий
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="54px"
                                                            style="width: 54px; padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                            Цена:
                                                        </td>
                                                        <td
                                                                style="padding-left: 15px; padding-top: 10px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                            <span style="padding-right: 10px">1300&nbsp;Р</span>
                                                            <span style="color: #999999"><s>1300&nbsp;Р</s></span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- item заказа конец -->
    <!-- итого -->
    <tr>
        <td bgcolor="#ffffff" style="padding: 0 20px; color: #000000;">
            <table align="left" cellspacing="0" cellpadding="0" border="0" width="100%"
                   style="border: none; width: 100%">
                <tr>
                    <td bgcolor="#ffffff" style="border: 1px solid #ebebeb; padding: 30px 20px;">
                        <table align="left" cellspacing="0" cellpadding="0" border="0" width="100%"
                               style="border: none; width: 100%">
                            <tr>
                                <td align="left"
                                    style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px;">
                                    Товаров на сумму:
                                </td>
                                <td align="right"
                                    style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px;">
                                    1300&nbsp;Р.
                                </td>
                            </tr>
                            <tr>
                                <td align="left"
                                    style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px; padding-top: 10px">
                                    Скидка:
                                </td>
                                <td align="right"
                                    style="color: #e32526; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px; padding-top: 10px">
                                    - 700&nbsp;Р.
                                </td>
                            </tr>
                            <tr>
                                <td align="left"
                                    style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px; padding-top: 10px">
                                    Доставка:
                                </td>
                                <td align="right"
                                    style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px; padding-top: 10px">
                                    0 Р.
                                </td>
                            </tr>
                            <tr>
                                <td align="left"
                                    style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 24px; padding-top: 20px">
                                    Итого:
                                </td>
                                <td align="right"
                                    style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 24px;  padding-top: 20px">
                                    22&nbsp;300&nbsp;Р.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- доставка -->
    <tr>
        <td bgcolor="#ffffff" style="padding: 0 20px; color: #000000;">
            <table align="left" cellspacing="0" cellpadding="0" border="0" width="100%"
                   style="border: none; width: 100%">
                <tr>
                    <td bgcolor="#ffffff" style="padding: 30px 0 0 20px;">
                        <table align="left" cellspacing="0" cellpadding="0" border="0" width="100%"
                               style="border: none; width: 100%">
                            <tr>
                                <td align="left"
                                    style="width: 115px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 23px;">
                                    Можно забрать:
                                </td>
                                <td align="left"
                                    style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 23px; padding-left: 25px;">
                                    <div>Сегодня</div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top"
                                    style="width: 115px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 23px; padding-top: 10px;">
                                    Получатель:
                                </td>
                                <td align="left"
                                    style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 23px;  padding-top: 10px;  padding-left: 25px;">
                                    <div>Иванов Иван Иванович</div>
                                    <div>+&nbsp;7&nbsp;(985)&nbsp;12&nbsp;34&nbsp;56</div>
                                    <div>ivanov@mail.ru</div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top"
                                    style=" width: 115px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 23px; padding-top: 10px;">
                                    Способ доставки:
                                </td>
                                <td align="left"
                                    style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 23px;  padding-top: 10px;  padding-left: 25px;">
                                    <div>Самовывоз из магазина O&rsquo;STIN</div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top"
                                    style="width: 115px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 23px; padding-top: 10px;">
                                    Адрес магазина:
                                </td>
                                <td align="left"
                                    style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 23px;  padding-top: 10px;  padding-left: 25px;">
                                    <div>г. Москва, Ходынский б-р, д.4, ТЦ "Авиапарк" тел.
                                        +7&nbsp;(495)&nbsp;12&nbsp;34&nbsp;56
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top"
                                    style="width: 115px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 23px; padding-top: 10px;">
                                    Способ оплаты:
                                </td>
                                <td align="left"
                                    style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 23px;  padding-top: 10px;  padding-left: 25px;">
                                    <div>Наличными или банковской картой в магазине O'STIN</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" style="padding: 40px 0 30px 20px;">
                        <table align="left" cellspacing="0" cellpadding="0" border="0" width="100%"
                               style="border: none; width: 100%">
                            <tr>
                                <td align="left"
                                    style="width: 100%; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                    Заказ можно забрать после его подтверждения
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{{end}}
