{{define "content"}}
<!-- 262 -->
<!-- <tr>
    <td bgcolor="#ffffff"
        style="padding: 50px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 24px; color: #000000">
        Здравствуйте, Константин!
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff"
        style="padding: 10px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 24px; color: #000000">
        Вы оформили заказ
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff"
        style="padding: 10px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 28px; color: #000000">
        в интернет магазине O&rsquo;STIN!
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff"
        style="padding: 30px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 25px; color: #000000">
        Для вашего удобства автоматически был создан
        <a href="#" style="color: #000000; text-decoration: none"><b>личный кабинет</b></a>.
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff"
        style="padding: 20px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 25px; color: #000000">
        Теперь вы&nbsp;можете отслеживать статус заказа, узнавать об&nbsp;акциях, скидках и&nbsp;новинках в&nbsp;числе
        первых!
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff"
        style="padding: 30px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 25px; color: #000000">
        <table align="center" cellspacing="0" cellpadding="0" border="0" width="100%"
            style="border: 1px solid #e6e6e6; width: 100%">
            <tr>
                <td align="center" style="padding: 5px 0 ">
                    <table align="center" cellspacing="0" cellpadding="0" border="0" width="100%"
                        style="border: none; width: 100%">
                        <tr>
                            <td align="center" style="border-right: 1px solid #e6e6e6; width: 50%; padding: 0 40px">
                                <div>
                                    <div style="display: inline-block">Логин:</div>
                                    <div style="display: inline-block">login</div>
                                </div>
                            </td>
                            <td align="center" style="width: 50%; padding: 0 28px">
                                <div>
                                    <div style="display: inline-block">Пароль: </div>
                                    <div style="display: inline-block">12345</div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff"
        style="padding: 30px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 25px; color: #000000">
        Для завершения регистрации, пожалуйста, подтвердите email.
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff"
        style="padding: 40px 20px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px;">
        <table align="left" cellspacing="0" cellpadding="0" border="0" width="280" style="border: none; width: 280px">
            <tr>
                <td bgcolor="#e32526" align="center"
                    style="padding: 0 15px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; height: 50px">
                    <a href="#" style="color: #ffffff; text-decoration: none"> <b>ПОДТВЕРДИТЬ EMAIL</b> </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff"
        style="padding: 50px 20px; border-top: 1px solid #ebebeb; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 20px;">
        Все зарегестрированные пользователи автоматически становятся участниками <a href="#"
            style="color: #000000; text-decoration: none">Клубной&nbsp;программы</a>
    </td>
</tr> -->


<!-- 264 -->
<tr>
    <td bgcolor="#ffffff"
        style="padding: 50px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 22px; line-height: 24px; color: #000000">
        Здравствуйте, Константин!
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff"
        style="padding: 25px 20px 40px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: #000000">
        <div style="width: 100%; max-width: 370px">
            Для востановления доступа к личному кабинету в интернет магазине ostin.com, пожалуйста, перейдите по
            <a href="#" style="color: #e32526; text-decoration: none">ссылке</a>.
        </div>
    </td>
</tr>


<!-- 266 -->
<!-- <tr>
    <td bgcolor="#ffffff"
        style="padding: 50px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 22px; line-height: 26px; color: #000000">
        Здравствуйте, Константин!
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff"
        style="padding: 0 20px ; font-family: Arial, Helvetica, sans-serif; font-size: 22px; line-height: 26px; color: #000000">
        Вы оставили email на сайте ostin.com.
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff"
        style="padding: 25px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: #000000">
        <div style="width: 100%; max-width: 450px">
            Пожалуйста, подтвердите подписку, если хотите узнавать об&nbsp;акциях, скидках и&nbsp;новинках в&nbsp;числе
            первых.
        </div>
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff"
        style="padding: 40px 20px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px;">
        <table align="left" cellspacing="0" cellpadding="0" border="0" width="280" style="border: none">
            <tr>
                <td bgcolor="#e32526" align="center"
                    style="padding: 0 15px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; height: 50px">
                    <a href="#" style="color: #ffffff; text-decoration: none"> <b>ПОДТВЕРДИТЬ EMAIL</b> </a>
                </td>
            </tr>
        </table>
    </td>
</tr> -->


<!-- 271 -->
<!-- <tr>
    <td bgcolor="#ffffff"
        style="padding: 50px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 24px; color: #000000">
        Здравствуйте, Константин!
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff"
        style="padding: 10px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 28px; color: #000000">
        Благодарим вас за выбор O’STIN.
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff"
        style="padding: 35px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 20px; color: #000000">
        Для завершения регистрации, пожалуйста, подтвердите email.
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff"
        style="padding: 40px 20px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px;">
        <table align="left" cellspacing="0" cellpadding="0" border="0" width="280" style="border: none">
            <tr>
                <td bgcolor="#e32526" align="center"
                    style="padding: 0 15px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; height: 50px">
                    <a href="#" style="color: #ffffff; text-decoration: none"> <b>ПОДТВЕРДИТЬ EMAIL</b> </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff"
        style="padding: 50px 20px; border-top: 1px solid #ebebeb; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 20px;">
        Все зарегестрированные пользователи автоматически становятся участниками <a href="#"
            style="color: #000000; text-decoration: none">Клубной&nbsp;программы</a>
    </td>
</tr> -->


<!-- 274 -->
<!-- <tr>
    <td bgcolor="#ffffff"
        style="padding: 50px 20px 0; font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 24px; color: #000000">
        Спасибо!
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff"
        style="padding: 10px 20px 50px; font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 28px; color: #000000">
        Ваш заказ подтвержден.
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff"
        style="padding: 50px 20px 0; border-top: 1px solid #ebebeb; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 24px;">
        Заказ № 0111111
    </td>
</tr> -->
<!-- item заказа -->
<!-- <tr>
    <td bgcolor="#ffffff" style="padding: 30px 20px 0; color: #000000;">
        <table align="center" cellspacing="0" cellpadding="0" border="0" width="100%" style="border: none; width: 100%">
            <tr>
                <td align="left" style="padding-bottom: 30px; border-bottom: 1px solid #ebebeb;">
                    <table align="center" cellspacing="0" cellpadding="0" border="0" width="100%"
                        style="border: none; width: 100%">
                        <tr>
                            <td align="left" valign="top">
                                <img src="images/order/order1.jpg" width="120" height="180" alt="order"
                                    style="width: 120px; height: 180px;">
                            </td>
                            <td align="left" valign="top" style="padding-left: 25px">
                                <table align="left" cellspacing="0" cellpadding="0" border="0" width="100%"
                                    style="border: none; width: 100%">
                                    <tr>
                                        <td
                                            style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 22px;">
                                            Платье с цветочным принтом длинное название
                                        </td>
                                    </tr>
                                    <tr>
                                        <td
                                            style="padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                            LT1R31-66
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top: 20px">
                                            <table align="left" cellspacing="0" cellpadding="0" border="0" width="100%"
                                                style="border: none; width: 100%">
                                                <tr>
                                                    <td width="54px"
                                                        style="width: 54px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                        Кол-во:</td>
                                                    <td
                                                        style="padding-left: 15px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                        1</td>
                                                </tr>
                                                <tr>
                                                    <td width="54px"
                                                        style="width: 54px; padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                        Размер:</td>
                                                    <td
                                                        style="padding-left: 15px; padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                        М</td>
                                                </tr>
                                                <tr>
                                                    <td width="54px"
                                                        style="width: 54px; padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                        Цвет:</td>
                                                    <td
                                                        style="padding-left: 15px; padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                        Светло-синий</td>
                                                </tr>
                                                <tr>
                                                    <td width="54px"
                                                        style="width: 54px; padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                        Цена:</td>
                                                    <td
                                                        style="padding-left: 15px; padding-top: 10px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                        <span style="padding-right: 10px">1300&nbsp;Р</span>
                                                        <span style="color: #999999"><s>1300&nbsp;Р</s></span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr> -->
<!-- item заказа -->
<!-- <tr>
    <td bgcolor="#ffffff" style="padding: 30px 20px 0; color: #000000;">
        <table align="center" cellspacing="0" cellpadding="0" border="0" width="100%" style="border: none; width: 100%">
            <tr>
                <td bgcolor="#ffffff" align="left" style="padding-bottom: 30px;">
                    <table align="center" cellspacing="0" cellpadding="0" border="0" width="100%"
                        style="border: none; width: 100%">
                        <tr>
                            <td align="left" valign="top">
                                <img src="images/order/order1.jpg" width="120" height="180" alt="order"
                                    style="width: 120px; height: 180px;">
                            </td>
                            <td align="left" valign="top" style="padding-left: 25px">
                                <table align="left" cellspacing="0" cellpadding="0" border="0" width="100%"
                                    style="border: none; width: 100%">
                                    <tr>
                                        <td
                                            style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 22px;">
                                            Платье с цветочным принтом длинное название
                                        </td>
                                    </tr>
                                    <tr>
                                        <td
                                            style="padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                            LT1R31-66
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top: 20px">
                                            <table align="left" cellspacing="0" cellpadding="0" border="0" width="100%"
                                                style="border: none; width: 100%">
                                                <tr>
                                                    <td width="54px"
                                                        style="width: 54px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                        Кол-во:</td>
                                                    <td
                                                        style="padding-left: 15px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                        1</td>
                                                </tr>
                                                <tr>
                                                    <td width="54px"
                                                        style="width: 54px; padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                        Размер:</td>
                                                    <td
                                                        style="padding-left: 15px; padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                        М</td>
                                                </tr>
                                                <tr>
                                                    <td width="54px"
                                                        style="width: 54px; padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                        Цвет:</td>
                                                    <td
                                                        style="padding-left: 15px; padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                        Светло-синий</td>
                                                </tr>
                                                <tr>
                                                    <td width="54px"
                                                        style="width: 54px; padding-top: 10px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                        Цена:</td>
                                                    <td
                                                        style="padding-left: 15px; padding-top: 10px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                                        <span style="padding-right: 10px">1300&nbsp;Р</span>
                                                        <span style="color: #999999"><s>1300&nbsp;Р</s></span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr> -->
<!-- item заказа конец -->
<!-- итого -->
<!-- <tr>
    <td bgcolor="#ffffff" style="padding: 0 20px; color: #000000;">
        <table align="left" cellspacing="0" cellpadding="0" border="0" width="100%" style="border: none; width: 100%">
            <tr>
                <td bgcolor="#ffffff" style="border: 1px solid #ebebeb; padding: 30px 20px;">
                    <table align="left" cellspacing="0" cellpadding="0" border="0" width="100%"
                        style="border: none; width: 100%">
                        <tr>
                            <td align="left"
                                style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px;">
                                Товаров на сумму:</td>
                            <td align="right"
                                style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px;">
                                1300&nbsp;Р.</td>
                        </tr>
                        <tr>
                            <td align="left"
                                style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px; padding-top: 10px">
                                Скидка:</td>
                            <td align="right"
                                style="color: #e32526; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px; padding-top: 10px">
                                - 700&nbsp;Р.</td>
                        </tr>
                        <tr>
                            <td align="left"
                                style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px; padding-top: 10px">
                                Доставка:</td>
                            <td align="right"
                                style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px; padding-top: 10px">
                                0 Р.</td>
                        </tr>
                        <tr>
                            <td align="left"
                                style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 24px; padding-top: 20px">
                                Итого:</td>
                            <td align="right"
                                style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 24px;  padding-top: 20px">
                                22&nbsp;300&nbsp;Р.</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr> -->
<!-- доставка -->
<!-- <tr>
    <td bgcolor="#ffffff" style="padding: 0 20px; color: #000000;">
        <table align="left" cellspacing="0" cellpadding="0" border="0" width="100%" style="border: none; width: 100%">
            <tr>
                <td bgcolor="#ffffff" style="padding: 30px 0 0 20px;">
                    <table align="left" cellspacing="0" cellpadding="0" border="0" width="100%"
                        style="border: none; width: 100%">
                        <tr>
                            <td align="left"
                                style="width: 115px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 23px;">
                                Можно забрать:</td>
                            <td align="left"
                                style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 23px; padding-left: 25px;">
                                <div>Сегодня</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top"
                                style="width: 115px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 23px; padding-top: 10px;">
                                Получатель:</td>
                            <td align="left"
                                style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 23px;  padding-top: 10px;  padding-left: 25px;">
                                <div>Иванов Иван Иванович</div>
                                <div>+&nbsp;7&nbsp;(985)&nbsp;12&nbsp;34&nbsp;56</div>
                                <div>ivanov@mail.ru</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top"
                                style=" width: 115px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 23px; padding-top: 10px;">
                                Способ доставки:</td>
                            <td align="left"
                                style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 23px;  padding-top: 10px;  padding-left: 25px;">
                                <div>Самовывоз из магазина O&rsquo;STIN</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top"
                                style="width: 115px; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 23px; padding-top: 10px;">
                                Адрес магазина:</td>
                            <td align="left"
                                style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 23px;  padding-top: 10px;  padding-left: 25px;">
                                <div>г. Москва, Ходынский б-р, д.4, ТЦ "Авиапарк" тел.
                                    +7&nbsp;(495)&nbsp;12&nbsp;34&nbsp;56</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" style="padding: 40px 0 30px 20px;">
                    <table align="left" cellspacing="0" cellpadding="0" border="0" width="100%"
                        style="border: none; width: 100%">
                        <tr>
                            <td align="left"
                                style="width: 100%; color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px;">
                                Заказ можно забрать после его подтверждения
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr> -->
{{ end }}