{{define "copy_right"}}
<td bgcolor="#efefef" align="left" style="padding: 15px 20px 30px;">
    <table align="left" cellspacing="0" cellpadding="0" border="0" width="100%" style="width: 100%; border: none;">
        <tr>
            <td align="left" width="67%"
                style="width: 67%; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #777777;">
                <div style="display: inline-block">Copyright&nbsp;2019</div>
                <div style="display: inline-block"> &copy;&nbsp;Интернет-магазин&nbsp;одежды</div>
            </td>
            <td align="right" width="40%" valign="top"
                style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #777777;">
                ООО &laquo;Остин&raquo;
            </td>
        </tr>
    </table>
</td>
{{ end }}