{{define "footer_phone"}}
<td bgcolor="#efefef" align="center" style="padding: 20px 20px 0">
    <table align="center" cellspacing="0" cellpadding="0" border="0" style="border: none; display: inline-block">
        <tr>
            <td style="padding-right: 10px"><img src="./images/icon-footer-phone.png" alt="phone" width="20"
                    height="20">
            </td>
            <td><span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000"> Есть
                    вопросы? <b>8&nbsp;800&nbsp;777&nbsp;4&nbsp;999</b> <span
                        style="color: #777777">(бесплатно&nbsp;по&nbsp;России)</span></span>
            </td>
        </tr>
    </table>
</td>
{{ end }}