{{define "footer_unsubscribe"}}
<td bgcolor="#efefef" align="left" style="padding: 30px 20px 0;">
    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #999999; margin: 0; line-height: 20px">
        Вы получили данное письмо потому, что являетесь клиентом O&rsquo;STIN.</p>
    <p
        style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #999999;  margin: 0; line-height: 20px">
        Если вы не хотите раньше остальных узнавать новости о закрытых распродажах и скидках,
        перейдите&nbsp;по&nbsp;<a href="#" style="color: #000000; text-decoration: none">ссылке</a></p>
</td>
{{ end }}