{{define "header_menu"}}
<td bgcolor="#ffffff" style="padding: 10px 20px; border-bottom: 1px solid #ebebeb; border-top: 1px solid #ebebeb;">

    <table align="left" cellspacing="0" cellpadding="0" border="0" width="100%" style="width: 100%; border: none;">
        <tr>
            <td align="left">
                <a href="https://ostin.com/" target="_blank" style="color: #000000; text-decoration: none; font-family: Arial, Helvetica, sans-serif;
                    font-size: 16px; line-height: 20px;">Женщины</a>
            </td>
            <td align="left">
                <a href="https://ostin.com/" target="_blank" style="color: #000000; text-decoration: none; font-family: Arial, Helvetica, sans-serif;
                    font-size: 16px; line-height: 20px;">Мужчины</a>
            </td>
            <td align="left">
                <a href="https://ostin.com/" target="_blank" style="color: #000000; text-decoration: none; font-family: Arial, Helvetica, sans-serif;
                    font-size: 16px; line-height: 20px;">Дети</a>
            </td>
            <td align="right">
                <a href="https://ostin.com/" target="_blank" style="color: #000000; text-decoration: none; font-family: Arial, Helvetica, sans-serif;
                    font-size: 16px; line-height: 20px;">Sale</a>
            </td>
        </tr>
    </table>
</td>
{{ end }}