{{define "not_an_offer"}}
<td bgcolor="#efefef" align="left" style="padding: 20px 20px 0;">
    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #999999; margin: 0; line-height: 20px">
        Цены и&nbsp;скидки, указанные в&nbsp;настоящей рассылке, действительны на&nbsp;момент отправки данного письма.
        Настоящая рассылка
        не&nbsp;является офертой.</p>
    <p
        style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #999999;  margin: 0; line-height: 20px">
        Актуальная информация о&nbsp;цене и&nbsp;наличии товаров представлена на&nbsp;сайте <a href="#" style="color: #000000; text-decoration: none">ostin.com</a>.</p>
</td>
{{ end }}