{{define "social"}}
<td bgcolor="#efefef" style="padding: 25px 20px 0;">
    <table align="center" cellspacing="0" cellpadding="0" border="0" style="border: none;">
        <tr>
            <td style="padding-right: 10px">
                <a href="https://www.facebook.com/ostin.stores/" target="_blank">
                    <img src="images/facebook-ico.png" width="40" height="40" alt="facebook"
                        style="width: 40px; height: 40px;">
                </a>
            </td>
            <td style="padding-right: 10px">
                <a href="https://vk.com/club20367999" target="_blank">
                    <img src="images/vk.png" width="40" height="40" alt="vkontakte" style="width: 40px; height: 40px;">
                </a>
            </td>
            <td style="padding-right: 10px">
                <a href="https://ok.ru/group/48170712760380" target="_blank">
                    <img src="images/ok-icon.png" width="40" height="40" alt="ok" style="width: 40px; height: 40px;">
                </a>
            </td>
            <td style="padding-right: 10px">
                <a href="https://www.instagram.com/ostin_official/" target="_blank">
                    <img src="images/instagram-ico.png" width="40" height="40" alt="instagram"
                        style="width: 40px; height: 40px;">
                </a>
            </td>
            <td>
                <a href="https://www.youtube.com/channel/UCTquCLO9LNLWZDg3SKwu4XA" target="_blank">
                    <img src="images/youtube-ico.png" width="40" height="40" alt="youtube"
                        style="width: 40px; height: 40px;">
                </a>
            </td>
        </tr>
    </table>
</td>
{{ end }}